<%- include("partials/header") -%>
<%- include("partials/navbar") -%>
<div class="container-fluid row">
  <div class="col-lg-4 col-md-6">
<img src="/images/<%=img1%>.png" class="img" alt="">
  </div>
  <div class="col-lg-4 col-md-6">
<img src="/images/<%=img2%>.png" class="img" alt="">
  </div>
  <div class="col-lg-4 col-md-6">
<img src="/images/<%=img3%>.png" class="img" alt="">
  </div>
  <div class="col-lg-4 col-md-6 ">
<img src="/images/<%=img4%>.png" class="img" alt="">
  </div>
  <div class="col-lg-4 col-md-6">
<img src="/images/<%=img5%>.png" class="img" alt="">
  </div>
</div>
<%- include("partials/footer") -%>
